@import "../../index.scss";

.inputs {
  width: inherit;
  display: flex;
  gap: 30px;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: row;
  }

  div {
    display: flex;
    flex-direction: column;

    @include mobile {
      align-items: center;
    }

    @include tablet {
      align-items: start;
    }

    h2 {
      margin: 0 0 10px 0;
      font-size: 30px;
    }

    input {
      border-radius: 10px;
      border: none;

      font-weight: 600;
      background-color: #f6f6f6;

      @include mobile {
        text-align: center;
        font-size: 30px;
        width: 70%;
        height: 60px;
      }

      @include tablet {
        text-align: start;
        font-size: 40px;
        height: 80px;
        width: 120px;
        padding: 0 10px;
      }

      @include desktop {
        height: 100px;
        width: 160px;
        font-size: 50px;
        width: 120px;
        padding: 0 30px;
      }
    }
  }
}

.errors {
  margin-top: 30px;

  p {
    font-size: 30px;
    font-weight: 600;
    color: red;
  }
}
